#srodek {
float: left;
width: 708px;
padding: 0 20px;
border: 1px solid black;
color: black;
}

#srodek table {
width: 100%;
margin-top: 15px;
}

#srodek th {
padding: 5px;
text-align: left;
background-color: #BBBBBB;
}

#srodek td {
padding: 5px;
text-align: left;
}

#srodek tr:hover {
background-color: #DDDDDD;
}

#tabs {
margin-bottom: 15px;
}